<p><span style="font-size: 12pt; font-family: Calibri, sans-serif;">Incorrect. If you click Give 30 points, your neighbor receives points based on how many points you have at the time.</span><span style="font-size: medium;"></span></p>