<h2>Do you want to be connected with this player?</h2>
<p></p>
<p>They have decided they want to be connected with you, please choose Yes or No. <br /><br /><strong></strong></p>
<p></p>
<p><b>In the last round, they gave {0} to each of their neighbors (the neighbors received {1} from them).</b><strong>&nbsp;</strong></p>