<p style="text-align: center;"><strong>Information about This Study</strong>&nbsp;</p>
<p></p>
<p><strong>Introduction and Purpose</strong></p>
<p>You are invited to participate in a research study being conducted by researchers in the Department of Sociology at the University of South Carolina in the United States of America. This study is sponsored by the Department of Defense. The purpose of the study is to investigate how people make decisions in groups. This form explains what you will be asked to do if you decide to participate in this study. Please read it carefully before you make a decision about participating.</p>
<p></p>
<p><strong>Description of Study Procedures</strong></p>
<p>During the study, you will interact with other participants over the internet. For each decision, you and other participants will make decisions that impact one another&rsquo;s outcomes (and payments). The amount of money you receive will therefore depend on your decisions as well as the decisions of others with whom you are paired during the study. You will earn between $5 and $14, depending on the choices made by you and the choices of others with whom you are paired during the study. The study will last from 30 to 40 minutes.&nbsp;</p>
<p></p>
<p><strong>Risks of Participation</strong></p>
<p>There are no known risks associated with participating in this research except a slight risk of breach of confidentiality, which remains despite steps that will be taken to protect your privacy.&nbsp;</p>
<p></p>
<p><strong>Benefits of Participation</strong></p>
<p>As mentioned above, you will receive a monetary payment for participation in today&rsquo;s study. Taking part in this study is not likely to benefit you personally. However, this research may help us understand how people make decisions in group settings. Also, you may gain some insight into how social and behavioral research is conducted.</p>
<p></p>
<p><strong>Costs</strong></p>
<p>There are no costs to you for participation in this study.&nbsp;</p>
<p></p>
<p><strong>Payments</strong></p>
<p>You will be paid for your participation at the conclusion of today&rsquo;s study. You will earn between $5 and $14, depending on the choices made by you and the choices of others with whom you are paired during the study.&nbsp;</p>
<p></p>
<p><em>Continued on Next Screen</em></p>
<p></p>