<p><strong>Confidentiality of Records</strong></p>
<p>Participation will be confidential. A number will be assigned to each participant at the beginning of the project. This number will be used on project records rather than your name or any identifying information. Study records/data will be stored on a secure server and then on protected computer files at the University of South Carolina. Federal or DoD representatives may access research records for the protection of participants. The results of the study may be published or presented at professional meetings, but your identity will not be revealed.</p>
<p></p>
<p><strong>Contact Persons</strong></p>
<p>For more information concerning this research, you should contact Professor Brent Simpson (bts@sc.edu; (803) 777-3123).&nbsp;</p>
<p></p>
<p>Questions about your rights as a research subject are to be directed to, Lisa Marie Johnson, IRB Manager, Office of Research Compliance, University of South Carolina, 1600 Hampton Street, Suite 414D, Columbia, SC 29208, phone: (803) 777-7095 or email: <a href="mailto:LisaJ@mailbox.sc.edu">LisaJ@mailbox.sc.edu</a>.&nbsp;</p>
<p></p>
<p><strong>Voluntary Participation</strong></p>
<p>Participation in this study is voluntary. You are free not to participate or to withdraw at any time, for whatever reason, without negative consequences. In the event that you do withdraw from this study, the information you have already provided will be kept in a confidential manner.</p>
<p></p>
<p><strong>Consent</strong></p>
<p>I have read (or have had read to me) the contents of this consent form. I give my consent to participate in this study, although I have been told that I may withdraw at any time without negative consequences.&nbsp;</p>
<p></p>
<p>If you consent to participate in this study, please press continue below.&nbsp;</p>
<p></p>