<h2>Please choose to Give or Keep:</h2>
<p>&nbsp; &nbsp; &nbsp; This neighbor has {0} points</p>
<p style="padding-left: 30px;">If you choose <strong><span style="color: #ff6600;">Give</span></strong> you will pay a maximum of {1} points to give your neighbor a maximum of {2} points</p>
<p style="padding-left: 30px;">If you choose <span style="color: #800080;"><strong>Keep</strong></span> you will pay 0 points and give your neighbor 0 points</p>
<p><strong>Do you want to choose <span style="color: #ff6600;">Give</span> or <span style="color: #800080;">Keep</span> with this neighbor?</strong></p>