<h2>Please choose to Give or Keep:</h2>
<p style="padding-left: 30px;">You may <strong><span style="color: #ff6600;">Give </span></strong>0, 10, 20, 30, 40 or 50 points to each of your {0} neighbors. <strong><span style="color: #ff6600;"></span></strong></p>
<p style="padding-left: 30px;">Giving&nbsp;&nbsp; 0 points results in each of your neighbors receiving 0 points each.</p>
<p style="padding-left: 30px;">Giving 10 points results in each of your neighbors receiving {1} points each.</p>
<p style="padding-left: 30px;">Giving 20 points results in each of your neighbors receiving {2} points each.</p>
<p style="padding-left: 30px;">Giving 30 points results in each of your neighbors receiving {3} points each.</p>
<p style="padding-left: 30px;">Giving 40 points results in each of your neighbors receiving {4} points each.</p>
<p style="padding-left: 30px;">Giving 50 points results in each of your neighbors receiving {5} points each.</p>
<p><strong>How much do you want to&nbsp;<span style="color: #ff6600;">Give</span> to your neighbors?</strong></p>