<h2>Results</h2>
<p style="padding-left: 30px;">You chose to cut your tie(s) with {0} Neighbor(s)-- those with a dotted arrow pointed toward them.</p>
<p style="padding-left: 30px;">{1} player(s)&nbsp;chose to cut their tie with you-- those with a dotted arrow pointing toward you.</p>
<p style="font-size: 16px; font-weight: normal; line-height: 16px;">Click Next to continue</p>