<h2>You may choose to cut your ties with one Neighbor.</h2>
<p><span style="text-decoration: underline;">Either select a Neighbor player to cut your ties with or click the "No player" button.&nbsp;</span></p>