<h3>Thank you for playing.</h3>
<p><strong>Click the 'Complete' button below to complete the study.</strong></p>
<p>In addition to your base payment, you have won {0}.</p>
<p>We will apply this bonus to your account within one week.</p>
<p>Comments:</p>