<h2>Results</h2>
<p style="padding-left: 30px;">You requested to be&nbsp;<span style="font-size: 12pt;">Neighbor with&nbsp;</span><span style="font-size: 12pt;">{0}&nbsp;</span><span style="font-size: 12pt;">players who agreed</span></p>
<p style="padding-left: 30px;">You&nbsp;requested&nbsp;to be&nbsp;<span style="font-size: 12pt;">Neighbor with&nbsp;</span><span style="font-size: 12pt;">{1} </span><span style="font-size: 12pt;">players who disagreed</span></p>
<p style="padding-left: 30px;">{2} players chose to be your Neighbor&nbsp;and you agreed</p>
<p style="padding-left: 30px;">{3} players chose to&nbsp;be your&nbsp;<span style="font-size: 12pt;">Neighbor&nbsp;</span><span style="font-size: 12pt;">and you disagreed</span></p>
<p style="padding-left: 30px;"><span style="font-size: 12pt;"></span></p>
<p>Click Next to continue</p>