<h2>Make a new Neighbor</h2>
<p>Please choose one player with whom you want to be&nbsp;<span style="font-size: 12pt;">Neighbor</span><span style="font-size: 12pt;">.&nbsp;</span></p>
<p>If they agree, you will participate in future rounds with this player.</p>
<p>The buttons below show - Player ID: Total Endowment {0}</p>