<p>Specifically, you will see a list containing the Participant IDs of all of the new neighbors&nbsp;with whom you could potentially connect. From the list, you can select one new&nbsp;potential neighbor to connect to.&nbsp;</p>
<p><strong>The potential neighbor must confirm this tie in order to finalize it.</strong> Thus, the&nbsp;potential neighbor will be asked if he or she would like to connect with you. If they do, you will successfully be connected with the new neighbor.</p>
<p>Similarly, you will be given an opportunity to confirm any ties others want to form with you.&nbsp;</p>