<h3>Thank you for&nbsp;your time.</h3>
<p><strong>We were unable to recruit enough players to run the experiment at this time.</strong></p>
<p>The code to be paid for passing the quiz is 30582056. You may also follow this link: https://app.prolific.co/submissions/complete?cc=30582056</p>
<p>{0}</p>