<h2>Please Wait</h2>
<p>Next we will begin the task. We will begin the task when the timer at the top of the screen hits 0.</p>
<p>We expect the task will take about 30 minutes to complete and we need your active participation until it is completed.&nbsp;</p>
<p>If you do not have 30 minutes to allocate to this task, please exit now.&nbsp;</p>
<p>Once the task has begun you will be dropped if you are idle for longer than 30 seconds. <span style="text-decoration: underline;">You will not be paid if you are dropped for this reason.</span></p>