<p><span style="color: #1d1c1d; font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; font-variant-ligatures: common-ligatures; background-color: #f8f8f8;">On most issues, do you think of yourself as closer to the Republican Party or Democratic Party?</span></p>