<table style="border: none; border-collapse: collapse;"><colgroup><col width="140" /><col width="148" /><col width="148" /><col width="148" /></colgroup>
<tbody>
<tr style="height: 0px;">
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;"></td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">A</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">B</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">C</td>
</tr>
<tr style="height: 0px;">
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">You Get</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">{0}</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">{1}</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">{2}</td>
</tr>
<tr style="height: 0px;">
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">Other Gets</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">{3}</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">{4}</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">{5}</td>
</tr>
</tbody>
</table>