<p>In this set of questions, we ask you to imagine that you have been randomly paired with another person, whom we will refer to simply as the &ldquo;other.&rdquo; Other is someone you do not know and that you will not knowingly meet in the future. Both you and Other will be making choices by clicking either the letter A, B, or C. Your own choices will produce points for yourself and Other. Likewise, Other&rsquo;s choice will produce points for him/her and for you. Every point has value: The more points you receive, the better for you, and the more points Other receives, the better for him/her.</p>
<p>Here&rsquo;s an example of how this task works.</p>
<p>In this example, if you chose A you would receive 500 points and Other would receive 100 points; if you chose B, you would receive 500 points and Other 500; and if you chose C, you would receive 550 points and Other 300. So, you see that your choice influences both the number of points you receive and the number of points the other receives.</p>
<table style="border: none; border-collapse: collapse;"><colgroup><col width="140" /><col width="148" /><col width="148" /><col width="148" /></colgroup>
<tbody>
<tr style="height: 0px;">
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;"></td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">A</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">B</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">C</td>
</tr>
<tr style="height: 0px;">
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">You Get</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">500</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">500</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">550</td>
</tr>
<tr style="height: 0px;">
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">Other Gets</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">100</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">500</td>
<td style="vertical-align: top; padding: 0px 8px 0px 8px; border: solid #000000 1px;">300</td>
</tr>
</tbody>
</table>
<p>Before you begin making choices, <strong>keep in mind that there are no right or wrong answers &ndash; choose the option that you, for whatever reason, prefer most.</strong> Also, remember that the points have value: The more of them you accumulate, the better for you. Likewise, from the Other&rsquo;s point of view, the more points s/he accumulates, the better for him/her.</p>
<p><strong>Click Next to begin.</strong></p>
<p></p>