<h2>Results</h2>
<p style="padding-left: 30px;">You chose to <span style="color: #ff6600;"><b>Give</b></span> {0} points&nbsp;and each of your neighbors <strong><span style="color: #ff6600;">Received</span></strong>&nbsp;{1} points.</p>
<p></p>
<p></p>