<h3>Thank you for your time.</h3>
<p><strong>We don't need you for the task at this time.</strong></p>
<p>Since you passed the quiz, you will be paid for that. Follow this link: https://app.prolific.co/submissions/complete?cc=30582056</p>
<p>{0}</p>