<p>Welcome! In today&rsquo;s study, you will be making decisions with other students at two universities:&nbsp;<strong>The Ohio State University</strong>&nbsp;and&nbsp;<strong>the University of South Carolina.</strong></p>
<p>Both your own decisions and the decisions of the others&nbsp;will influence your earnings.&nbsp;<strong>Therefore, it is very important that you read all instructions carefully.&nbsp;</strong><strong style="font-size: 12pt;">After you have read the instructions, there will be a quiz. You need to pass the quiz to complete the study.</strong></p>
<p>At the beginning of the study, you will be connected to some of the other OSU and USC participants&nbsp;<span style="font-size: 12pt;">(Neighbors)</span><span style="font-size: 12pt;">. Each participant will be identified with the university to which they belong plus a letter ID (e.g., Participant osu-X or Participant usc-Y).&nbsp;</span></p>
<p>You and&nbsp;the neighbors&nbsp;you are connected to will make decisions in a series of rounds. These decisions will cause you and&nbsp;your neighbors to gain or lose points. You start with {0}&nbsp;points.</p>
<p><span style="font-size: 12pt;">In addition to the $2.00 you recieve for participating, a</span>t the end of the study, you will also be paid a bonus of 1 cent for every 10 points in your account.</p>