<p class="MsoNormal">Specifically, in each round, <b style="mso-bidi-font-weight: normal;">you will choose how many points (from 0 to 50, in 10-point increments) to give to each of the people you are connected to (i.e., your neighbors). </b>All participants will also choose how many points to give to each of the people they are connected to.<o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">For <i style="mso-bidi-font-style: normal;">each </i>neighbor, the amount you <span style="color: #ed7d31; mso-themecolor: accent2;">Give</span> will be doubled before it reaches your neighbor. For instance, if you&nbsp;choose to&nbsp;<span style="color: #ff9900;">Give</span> 20 points to one of your neighbors, that&nbsp;neighbor will r<span style="color: #000000;">eceive</span> 40 points. If you choose to <span style="color: #ed7d31; mso-themecolor: accent2;">Give</span> no points, you do not pay any points and you do not change the points of that neighbor.<o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Each&nbsp;neighbor that you are connected to has the same choices with each of the neighbors they are connected to, including you. Any amount that the&nbsp;neighbor chooses to <span style="color: #ed7d31; mso-themecolor: accent2;">Give</span> will be doubled before it reaches their neighbor. For instance, if they choose to <span style="color: #ff9900;">Give</span> 20 points to you, you will r<span style="color: #000000;">eceive</span> 40 points.&nbsp;If the neighbor chooses to <span style="color: #ed7d31; mso-themecolor: accent2;">Give</span> no points, you&nbsp;won't gain any points. <o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Once everyone makes their decisions, the results are displayed. You will be shown the choices of each neighbor you are connected to, and how many points in total you gained or lost.<o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Remember, for every 10 points you have at the end of the game, we will add 1 cent to your bonus.<o:p></o:p></p>