<p>In those rounds that you are able to, if you choose to stop interacting with one of your neighbors,&nbsp;<strong>you will choose which one new potential neighbor you want to connect with.</strong>&nbsp;</p>
<p class="MsoNormal">Specifically, you will see a list containing the Participant IDs of all of the new&nbsp;neighbors with whom you could potentially connect. You will&nbsp;<i>also</i>&nbsp;see&nbsp;<b>how many points they have and how many points they gave to their neighbors in the last round.</b>&nbsp;From the list, you can select one new&nbsp;potential neighbor to connect to.</p>
<p class="MsoNormal"><b>The potential neighbor must confirm to be your neighbor as well in order to finalize it</b>. Thus, the&nbsp;potential neighbor&nbsp;will see how many points you have at that point in the study. The potential neighbor will be asked if he or she would like to connect with you. If they do, you will be successfully connected with the new neighbor.</p>
<p class="MsoNormal">Similarly, you will be given an opportunity to confirm any connection others want to form with you. You will see the number of points they have at that point in the study and how many points they gave to their neighbors in the last round.</p>
<p class="MsoNormal">Be sure you have carefully read the instructions. Next, you will complete a few questions to ensure your understanding of the task.</p>