<p><b>Occasionally, that is, in some rounds, you will have the option to stop interacting with one of your neighbors and form a tie to a new neighbor.</b></p>
<p>If you choose to do so, you will choose which one&nbsp;neighbor you no longer wish to interact with.&nbsp;</p>
<p>While you are deciding whether and with whom you wish to stop interacting, the others will be deciding whether they wish to continue interacting with their neighbors, including you.</p>