<p class="MsoNormal">Specifically, in each round, <b style="mso-bidi-font-weight: normal;">you will choose how many points (from 0 to 50, in 10-point increments) to give to each of the people you are connected to (i.e., your neighbors). </b>All&nbsp;participants will also choose how many points to give to each of the people they are connected to.<o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">For <i style="mso-bidi-font-style: normal;">each </i>neighbor, the amount your&nbsp;neighbor receives&nbsp;will be determined by how many points you choose to <span style="color: #ff9900;">Give</span> <strong>and</strong> how many points you currently have. The more points you possess, the more your giving is increased before it reaches your neighbors. For example, if you have 1,000 points and choose to&nbsp;<span style="color: #ff9900;">Give</span> 20 points to your neighbors, they each get 40 points. But,&nbsp;if you have 2,000 points and&nbsp;choose to <span style="color: #ff9900;">Give</span> 20 points to your neighbors, they each get 45 points.&nbsp;Thus, the more points you have, the more &ldquo;impact&rdquo; each&nbsp;<span style="color: #ff9900;">Give</span>&nbsp;amount has on the total number of points your neighbors receive. (You will be told the exact amounts each level of giving impacts your neighbors&rsquo; payoffs when you make your decisions). If you choose to <span style="color: #ed7d31; mso-themecolor: accent2;">Give</span> no points, you do not pay any points and you do not change the points of your neighbors.</p>
<p class="MsoNormal"><o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Each&nbsp;neighbor that you are connected to has the same choices with each of the neighbors they are connected to, including you. Any amount that you receive from a&nbsp;neighbor will be&nbsp;determined by how many points they choose to <span style="color: #ff9900;">Give</span> <strong>and</strong> how&nbsp;many points&nbsp;that neighbor possesses. For example, if they have 1,000 points and choose to&nbsp;<span style="color: #ff9900;">Give</span> 20 points to you, you receive 40 points. But, if they have 2,000 points and&nbsp;choose to <span style="color: #ff9900;">Give</span> 20 points to you, you receive 45 points. If the&nbsp;neighbor chooses to <span style="color: #ed7d31; mso-themecolor: accent2;">Give</span> no points, you don&rsquo;t gain any points. <o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Once everyone makes their decisions, the results are displayed. You will be shown the choices of each&nbsp;neighbor you are connected to, and how many points in total you gained or lost.<o:p></o:p></p>
<p class="MsoNormal"><o:p>&nbsp;</o:p></p>
<p class="MsoNormal">Remember, for every 10 points you have at the end of the game, we will add 1 cent to your bonus.<o:p></o:p></p>