<p>Welcome! In today&rsquo;s study, you will be making decisions with other participants<strong>.</strong></p>
<p>Both your own decisions and the decisions of&nbsp;the others will influence your earnings. <strong>Therefore, it is very important that you read all instructions carefully. After you have read the instructions, there will be a quiz. You need to pass the quiz to complete the study.</strong></p>
<p>At the beginning of the study, you will be connected to some of the other participants (Neighbors). Each participant will be given a letter identifier (e.g., U).&nbsp;</p>
<p>You and the&nbsp;neighbors you are connected to will make decisions in a series of rounds. These decisions will cause you and your neighbors to gain or lose points. You start with&nbsp;some initial amount of&nbsp;points.</p>
<p>In addition to the $2.00 you recieve for participating, at the end of the study, you will also be paid a bonus of 1 cent for every 10 points in your account.</p>