<p>After you learn the results, you will <strong>continue interacting with the same neighbors you were connected to in the previous round.</strong></p>
<p>Be sure you have carefully read the instructions. Next, you will complete a few questions to&nbsp;ensure your understanding of the task.<strong></strong></p>