#text {
  text-align: left;
}

circle {
  stroke: #CCC;
  stroke-width: 2px;
}


text.node {
  fill: black;
}


/*circle[cooperation="1"] {
  fill: #e66101;
}

circle[cooperation="-1"] {
  fill: #5e3c99;
}*/

#graphDiv line[tobreak="true"] {
  stroke: red;
  stroke-dasharray: 5,5;
}

#graphDiv line[toconfirm="true"] {
  stroke: green;
  stroke-dasharray: 5,5;
}

#graphDiv line[coopcount="0"] {
  stroke: #333;
  stroke-width: 1px;
}

#graphDiv line[coopcount="1"] {
  stroke: #99ff33;
  stroke-width: 2px;
}

#graphDiv line[coopcount="2"] {
  stroke: #009933;
  stroke-width: 4px;
}

line.client {
  stroke: #000;
}

line.client[cooperation="-1"] { 
  stroke: #5e3c99;
}

line.client[cooperation="1"] { 
  stroke: #e66101;
}

line.client[current="1"] { 
  stroke-width: 8px; 
}

line.client[current="0"] { 
  stroke-width: 4px; 
}

line.client[current="-1"] { 
  stroke-width: 2px; 
}

line.client[breaking="1"] {
    stroke-dasharray: 5,5;
}

line.client[making="1"] {
    stroke-dasharray: 5,5;
}

div.coopButton {
  padding: 4px 6px;
  font-weight: bold;
  margin: .5em;
}

button {
  font-weight: bold;
  margin: .5em;
  font-size: 1.5em;
}

.cut-button {
  display: block;
}

.ab-button {
  border: 1px solid black;
  border-radius: 4px;  
}

.a96-100 {
  background-color: #e66101;
}
circle.a96-100 {
  fill: #e66101;
}
.a86-95 {
  background-color: #dc7932;
}
circle.a86-95 {
  fill: #dc7932;
}
.a76-85 {
  background-color: #d68851;
}
circle.a76-85 {
  fill: #d68851;
}
.a66-75 {
  background-color: #d09971;
}
circle.a66-75 {
  fill: #d09971;
}
.a56-65 {
  background-color: #caa890;
}
circle.a56-65 {
  fill: #caa890;
}
.a46-55 {
  background-color: #c0c0c0;
}
circle.a46-55 {
  fill: #c0c0c0;
}
.b36-45 {
  background-color: #a196b4;
  color: white;
}
circle.b36-45 {
  fill: #a196b4;
  color: white;
}
.b26-35 {
  background-color: #8e7dac;
  color: white;
}
circle.b26-35 {
  fill: #8e7dac;
  color: white;
}
.b16-25 {
  background-color: #7c64a5;
  color: white;
}
circle.b16-25 {
  fill: #7c64a5;
  color: white;
}
.b6-15 {
  background-color: #6e509f;
  color: white;
}
circle.b6-15 {
  fill: #6e509f;
  color: white;
}
.b0-5 {
  background-color: #5e3c99;
  color: white;
}
circle.b0-5 {
  fill: #5e3c99;
  color: white;
}

button.a {
  background-color: #e66101;
}

button.b {
  background-color: #5e3c99;
  color: white;
}

strong.a {
  color: #e66101;
}

strong.b {
  color: #5e3c99;
}

/* Players who have no choices are translucent */
circle { fill-opacity: 0.5; }
circle[choices] { fill-opacity: 1; }
